@*@using Microsoft.AspNetCore.Razor.Language*@
@*@using Microsoft.CodeAnalysis.Elfie.Model.Map*@
@*@model _1670_Final.Models.Cart*@
@*@using Microsoft.AspNetCore.Mvc.TagHelpers*@

@{
    ViewData["Title"] = "ListCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td, th {
        padding: 10px;
    }
</style>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @*<script src="/Scripts/jquery.min.js"></script>*@
   
<script type="text/javascript">
    $(document).ready(function (){
        $(".updateCart").click(function (event){
            event.preventDefault();
          var quantity = $(".quantity_" + $(this).attr("data-id")).val();
            console.log(quantity);

            $.ajax({
                type: "POST",
                url:"@Url.Action("updateCart","Cart")",
                data: {
                    id: $(this).attr("data-id"),
                    quantity:quantity
                },
                success: function (result) {
                    window.location.href = '@Url.Action("ListCart","Cart")';
                }
            });

        });
    });
</script>

<div class="list-cart">
    <table class="cart" style="border: 1px solid white;">
        <tr class="white-text">
            <th>STT</th>
            <th>Title</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        @{
            int STT = 0;
            double sum = 0;
            int count = 0; 
            foreach (var item in ViewBag.carts)
            {
                string txt_class = "quantity_" + item.Book.Id;
                STT++;
                double total = item.Book.Book_price * item.Qty;
                sum = sum + total;
                count++;

                <tr class="white-text">
                    <td>@STT</td>
                    <td>@item.Book.NameBook</td>
                    <td><img src="@item.Book.Book_image" width="100" height="150" /></td>
                    <td><input type="number" class="@txt_class" value="@item.Qty" /></td>
                    <td>@item.Book.Book_price</td>
                    <td>@total</td>
                    <td><button class="updateCart" data-id="@item.Book.Id">Update</button></td>
                    <td><a asp-controller="Cart" asp-action="deleteCart" asp-route-id="@item.Book.Id">Delete</a></td>
                </tr>
            }
        }

        <div class="col-lg-4 bg-grey white-text">
            <div class="p-5">
                <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                <hr class="my-4">
                <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">Items</h5>
                    <h5>@count</h5>
                </div>
                <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-right">Total price</h5>
                    <h5>@sum</h5>
                </div>
                <div class="d-flex justify-content-center mb-5">
                    @using (Html.BeginForm("CheckOut", "Cart"))
                    {
                       @*@* <tr>
                            <td>
                                  <div class="form-floating">
                            <input type="number" name="Phone" class="form-control" id="floatingInput" placeholder="Phone" required/>
                            <label for="floatingInput">Phone</label>
                                 </div>
                            </td>"

                           <td>
                                     
                            <div class="form-floating">
                            <input type="text" name="Name" class="form-control"placeholder="Name" required/>
                            </div>
                           </td>

                           <td>
                               <input type="text" name="Email" class="form-control"placeholder="email" required/>
                           </td>
                      
                             <td>
                               <input type="text" name="password" class="form-control"placeholder="password" required/>
                           </td>
                               
                           <td>
                               <input type="text" name="role" class="form-control"placeholder="role" required/>
                           </td>
                        </tr>
                      *@
                        @*<input type="number" name="Phone" class="form-control" id="floatingInput" placeholder="Phone" required/>
                       <input type="number" name="UserId" class="form-control"placeholder="UserId" required/>
*@
                        <button type="submit" class="btn btn-success mt-4">Checkout</button>
                       
                    }
                </div>
            </div>
        </div>
    </table>
</div>
